flows/sample_solace_pubsub_flow.json
[{"id":"ee95393.f116ac8","type":"solace-broker","broker":"http://69.20.234.126","port":"8134","clientid":""},{"id":"a6c50232.593b","type":"solace in","name":"","topic":"my/>","broker":"ee95393.f116ac8","x":337.0909118652344,"y":277.0909118652344,"z":"d490889e.2b6f78","wires":[["4bc074f0.b43f8c"]]},{"id":"4bc074f0.b43f8c","type":"debug","name":"multi-level wildcard subscription","active":true,"console":"false","complete":"false","x":644.0910034179688,"y":275.0909118652344,"z":"d490889e.2b6f78","wires":[]},{"id":"597253f.fa68dac","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86.09091186523438,"y":32.090911865234375,"z":"d490889e.2b6f78","wires":[["1456f8ce.eba907"]]},{"id":"1456f8ce.eba907","type":"solace out","name":"","topic":"my/test/topic","msgtype":"TEXT","broker":"ee95393.f116ac8","x":350.0909118652344,"y":34.090911865234375,"z":"d490889e.2b6f78","wires":[]},{"id":"90250180.6fdb","type":"solace in","name":"","topic":"my/*/topic","broker":"ee95393.f116ac8","x":338.0909118652344,"y":202.09091186523438,"z":"d490889e.2b6f78","wires":[["60e0cb43.9f1f34"]]},{"id":"e6b029da.194fd8","type":"solace in","name":"","topic":"my/test/topic","broker":"ee95393.f116ac8","x":344.0909118652344,"y":126.09091186523438,"z":"d490889e.2b6f78","wires":[["15322616.eacdda"]]},{"id":"60e0cb43.9f1f34","type":"debug","name":"wildcard subscription","active":true,"console":"false","complete":"false","x":678.0909729003906,"y":201.09091186523438,"z":"d490889e.2b6f78","wires":[]},{"id":"15322616.eacdda","type":"debug","name":"simple topic subscription","active":true,"console":"false","complete":"false","x":670.0909729003906,"y":121.09091186523438,"z":"d490889e.2b6f78","wires":[]}]